@import "tailwindcss";

html, body, #__next {
height: 100%;
}

/* Custom thin scrollbar for StoriesBar */
.stories-scrollbar::-webkit-scrollbar {
  height: 2px;              /* Horizontal scrollbar height */
}

.stories-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* track color */
  border-radius: 1px;
}

.stories-scrollbar::-webkit-scrollbar-thumb {
  background-color: #0f0e0f; /* pink color for thumb */
  border-radius: 2px;
}

.stories-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0c0c0c; /* lighter pink on hover */
}

/* Firefox */
.stories-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #050505 rgba(255,255,255,0.1);
}
